# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/
.cache/
.pytest_cache/

# Data
*.db
*.sqlite3
uploads/
